@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.app {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1440px;
    height: 800px;
    margin: auto;
    background-color: var(--color-app);
    box-shadow: var(--color-app-shadow);
    overflow: hidden;
    user-select: none;
}

.app--loading > .app__spinner {
    display: block;
}

.app__spinner {
    display: none;
    box-sizing: border-box;
    width: 72px;
    height: 72px;
    border-radius: 9999px;
    border: 8px solid var(--color-toggle-button-track);
    animation: spin 2s linear infinite;
    margin: auto;
    border-top: 8px solid var(--color-bank);
}

.app__container {
    box-sizing: border-box;
    display: none;
    width: 100%;
    height: 100%;
}

.app--loaded > .app__container {
    display: block;
}

.app__notification-list {
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0 24px 0 0;
    list-style: none;
}