.favorite-account {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-favorite-account-divider);
}

.favorite-account--clickable {
    cursor: pointer;
}

.favorite-account:last-child {
    border: none;
}

.favorite-account__section {
    box-sizing: border-box;
    flex: 1 1 0;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.favorite-account__section--large {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.favorite-account__section--left {
    flex: 0 0 50%;
}

.favorite-account__section--right {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.favorite-account__input {
    box-sizing: border-box;
    height: 36px;
    margin-left: -9px;
    padding: 0 0 0 8px;
    border: 1px solid var(--color-form-input-border-on-paper);
    background-color: var(--color-form-input-on-paper);
}

.favorite-account__input::placeholder {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-form-input-placeholder);
}

.favorite-account__input:focus {
    outline: none;
    border: 1px solid var(--color-bank);
}

.favorite-account__input--name {
    width: calc(100% - 9px);
    color: var(--color-typo-primary);
    line-height: 3.6rem;
}

.favorite-account__input--number {
    width: 100%;
    color: var(--color-typo-secondary);
}

.favorite-account__name {
    box-sizing: border-box;
    display: block;
}

.favorite-account__name--margin {
    margin-bottom: 6px;
}

.favorite-account__number {
    box-sizing: border-box;
    display: block;
}

.favorite-account__icon {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-left: 1.2rem;
    color: var(--color-favorite-account-icon);
}

.favorite-account__icon--check {
    color: var(--color-typo-secondary);
}

.favorite-account__copied-text {
    display: none;
    color: var(--color-typo-secondary);
}

.favorite-account--clickable[data-copied="false"] .favorite-account__icon--copy {display: block;}
.favorite-account--clickable[data-copied="true"] .favorite-account__icon--check {display: block;}
.favorite-account--clickable[data-copied="true"] .favorite-account__copied-text {display: block;}

.favorite-account--clickable:hover .favorite-account__icon--copy {color: var(--color-bank);}
