.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 32px;
    text-align: left;
    cursor: pointer;
    color: var(--color-filter);
}

.filter__icon {
    box-sizing: border-box;
    display: block;
    width: 2rem;
    height: auto;
    margin-right: 1.6rem;
}

.filter:hover {
    background-color: var(--color-filter-background-hover);
    color: var(--color-filter-active);
}

.filter--active {
    color: var(--color-filter-active);
    cursor: default;
}

.filter--active:hover {
    background-color: transparent;
}