.group {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.group--mb {
    margin-bottom: 0.8rem;
}

.group--row {
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.group--small-gap {
    gap: 8px;
}

.group--column {
    flex-direction: column;
    height: 100%;
}

.group__section {
    box-sizing: border-box;
}

.group__section--fluid {
    flex: 1 1 0;
}

.group__section--fixed {
    flex: 0 0 auto;
}

.group__section-title {
  line-height: 2rem;
}
