.log {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-log-divider);
}

.log:last-child {
    border: none;
}

.log__header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    cursor: pointer;
    list-style: none;
}

.log__header:focus-visible {
    outline: 2px solid var(--color-bank);
    outline-offset: 4px;
}

.log__body {
    box-sizing: border-box;
    padding-top: 8px;
}

.log__icon {
    flex: 0 0 auto;
    box-sizing: border-box;
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    background-color: var(--color-log-icon-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.log__icon--transfer {
    background-image: url("/src/images/person.svg");
}

.log__icon--police {
    background-image: url("/src/images/police.svg");
}

.log__icon--operation {
    background-image: url("/src/images/bank.svg");
}

.log__amount {
    flex: 0 0 auto;
}

.log__info {
    flex: 1 1 0;
    display: block;
}

.log__header:hover .log__type {
    color: var(--color-bank);
}
