.typography {
    box-sizing: border-box;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-family: inherit;
    line-height: 1;
}

.typography--title-large {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--color-typo-primary);
}

.typography--title-medium {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: var(--color-typo-primary);
}

.typography--title-small {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    color: var(--color-typo-secondary);
}

.typography--body-large {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-typo-primary);
}

.typography--body-medium {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-typo-secondary);
}

.typography--body-small {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-typo-secondary);
}

.typography--number-large {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: var(--color-typo-primary);
}

.typography--number-medium {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
}

.typography--number-small {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    color: var(--color-typo-secondary);
}

.typography--input {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-form-input-typo);
}

.typography--input::placeholder {
    font-weight: 600;
    color: var(--color-form-input-placeholder);
}

.typography--button {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.typography--tab {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}

.typography--filter {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}

.typography--balance {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    color: var(--color-typo-primary);
    margin-bottom: 0.2rem;
}

.typography--number-positive {
    color: var(--color-typo-positive);
}

.typography--number-negative {
    color: var(--color-typo-negative);
}

.typography--log-ref {
    font-weight: 700;
    color: var(--color-typo-primary);
}

.typography--mb {
    margin-bottom: 0.8rem;
}

.typography--reversed {
    text-align: right;
    transform: rotateY(-180deg);
}
