.webCarPlate {
  display: block;
  height: 100%;
}

.webCarPlate__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.webCarPlate__header {
  flex: none;
}

.webCarPlate__body {
  flex: 1;
  display: block;
  padding: 24px;
}