.webInvestigation {
  display: block;
  height: 100%;
}

.webInvestigation__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.webInvestigation__header {
  flex: none;
}

.webInvestigation__body {
  flex: 1;
  display: block;
  padding: 24px;
}